<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:addtojumplist" type="Sitecore.Extensions.ContentEditor.ContentTree.JumpList.Commands.AddToJumpList, Sitecore.Extensions"/>
      <command name="item:removefromjumplist" type="Sitecore.Extensions.ContentEditor.ContentTree.JumpList.Commands.RemoveFromJumpList, Sitecore.Extensions"/>
    </commands>
    <events>
      <event name="item:deleted">
        <handler patch:after="*[@method='UpdateCaches']" type="Sitecore.Extensions.ContentEditor.ContentTree.JumpList.Events.ItemEventHandler" method="OnItemDeleted" />
      </event>
      <event name="item:renamed">
        <handler patch:before="*[1]" type="Sitecore.Extensions.ContentEditor.ContentTree.JumpList.Events.ItemEventHandler" method="OnItemRenamed" />
      </event>
    </events>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Extensions.ContentEditor.ContentTree.AddContentEditorExtensions, Sitecore.Extensions" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>