<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Extensions">
          <predicate>
            <!-- Content -->
            <include name="PublishItem" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Publish Item" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>