<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Extensions">
          <predicate>
            <!-- Content -->
            <include name="JumpList.AddToJumpList" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Add to jump list" />
            <include name="JumpList.RemoveFromJumpList" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Remove from jump list" />
            <include name="JumpList.Divider4" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Divider 4" />
            <include name="JumpList.Divider5" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Divider 5" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>